@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

.flex-container {
  width: 60%;
  height: 500px;
  background: gray;
  margin: auto;
  display: flex;
  flex-direction: row;
  /*
			flex-direction:
			row - fila
			row-reverse fila al contrario
			column - columna
			column-reverse - columna al contrario
		*/
  flex-wrap: wrap;
  /*
			flex-wrap:
			-nowrap - por defecto, ajusta los anchos
					  de los hijos en el padre
			-wrap - muestra el tamaño original de
					los hijos y los acomoda en el padre
			-wrap-reverse - igual que wrap pero al contrario
		*/
  justify-content: space-evenly;
  /*
			justify-content:
			-flex-start
			-flex-end
			-center
			-space-around
			-space-between
			-space-evenly
		*/
  align-items: space-around;
  /*
			align-items: 
			-flex-start
			-flex-end
			-center
			-space-around
			-space-between
			-stretch
		*/
}

.flex-item {
  background: orange;
  padding: 5px;
  /*		height: 50px;
		width: 100px;*/
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  font-size: 25px;
}

.flex-item:nth-child(2) {
  background: purple;
  order: 1;
  flex-grow: 3;
}

.flex-item:nth-child(5) {
  background: yellow;
  order: 2;
  flex-shrink: 3;
}
