* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: sans-serif;
}

header {
  text-align: center;
}

header figure img {
  width: 20%;
}

header .contenedor {
  padding: 2em;
}

header nav {
  background: turquoise;
}

header nav li {
  display: inline-block;
  background: #98eee6;
  padding: 2em;
}

header nav li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

header nav li:hover {
  background: #c4f5f0;
  cursor: pointer;
}

.galeria {
  padding: 2em;
}

.imagen {
  background: turquoise;
  width: 300px;
  height: 500px;
  padding: 1em;
  color: #fff;
}

.imagen img {
  width: 100%;
}

.imagen img:hover {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.imagen:hover {
  background: #1aa093;
}

.imagen h2 {
  margin: 1em 0;
}
